%div{ "ng-controller" => "ApplicationController" }
  .message-text{ "ng-class" => "messageClass" } 
    %span {{message}}

  .content-grid-wrapper.pure-g-r{ "ng-controller" => "AccessTokenController" }
    .content-container.pure-u-4-5{ "ng-hide" => "haveToken()" }
      Looks like you might need to log in! This app will be read-only until you do.
      %br
      Hint: The username is "username" and the password is "password", the form is already
      filled out for you.
      %form{ "ng-submit" => "add()" }
        u: 
        %input#username{ "type" => "text", "ng-model" => "newAccessToken.username" }
        p: 
        %input#password{ "type" => "text", "ng-model" => "newAccessToken.password" }
        %input.add-button{ "type" => "submit", "value" => "Login" }
    .content-container.pure-u-4-5{ "ng-hide" => "!haveToken()" }
      %button.delete-button{ "ng-click" => "destroyToken()" }
        Log Out

  .content-grid-wrapper.pure-g-r{ "ng-controller" => "TodoController" }
    .content-container.pure-u-4-5
      .instructional-text Type your todo below and click add.
      %form{ "ng-submit" => "add()" }
        %input#new-todo{ "type" => "text", "ng-model" => "newTodo.label", "ng-disabled" => "!haveToken()" }
        %input.add-button{ "type" => "submit", "value" => "Add", "ng-disabled" => "!haveToken()" }

      %table
        %thead
          %th
          %th Todo Label
          %th
        %tr{ "ng-repeat" => "todo in todos" }
          %td
            %button.done-button{ "ng-click" => "toggleDone(todo)", "ng-switch" => "", "on" => "todo.done", "ng-disabled" => "!haveToken()" }
              %i.fa.fa-check-square-o{ "ng-switch-when" => "true" }
              %i.fa.fa-square-o{ "ng-switch-default" => "" }
          %td{ "ng-class" => "{done: todo.done}" } {{todo.label}}
          %td
            %button.delete-button{ "ng-click" => "delete(todo)", "ng-disabled" => "!haveToken()" }
              Delete