


$theme-color-dark: #1b232a;
$theme-color-light: white;
$theme-color-headers: #1bbf65;

html * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

body {
  background-color: $theme-color-light;
}


h1, h2, h3, h4, h5, h6 {
  color: $theme-color-headers;
}

header {
  $header-height: 50px;
  height: $header-height;
  background-color: $theme-color-dark;

  h1 {
    margin: 0 $header-height;
    line-height: $header-height;
  }
}

form {
  @extend .pure-form;
}

.content-grid-wrapper {
  .content-container {
    padding-top: 50px;
    @media(max-width: 978px) { padding: 50px 25px; }
    margin: 0 auto;
  
    input[type=text] {
      margin: 30px 0;
      color: #555555;
    }
    .add-button {
      @extend .pure-button; 
      background-color: green;
      color: white;
      margin: 30px 0;
    }
    .delete-button {
      @extend .pure-button; 
      background-color: #bc272e;
      color: white;
    }

    .done-button {
      @extend .pure-button; 
      background-color: #37a9d5;
      color: white;
      width: 50px;
      i { text-align: center; }
    }

    table {
      @extend .pure-table;
      @extend .pure-table-horizontal;
      width: 100%;
      @media(min-width: 979px) { width: 50%; }
      margin-bottom: 300px;
    }
  }
}

.instructional-text {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 30px;
}

.message-text {
  font-size: 24px;
  font-weight: 100;
  margin: 5px 0;
  padding: 15px 0;
  min-height: 28px;
  width: 100%;

  span {
    margin-left: 50px;
  }
}

.error-message{
  background-color: #eed6d6;
  color: #ac3538;
  width: 100%;
}
.success-message{
  background-color: #d8eecf;
  color: #387837;
  width: 100%;
}
.empty-message{
  background-color: transparent;
}

.done {
  text-decoration: line-through;
}
